*{
    margin: 0px;
    padding: 0px;
}
p {color: white;}

a{
    text-decoration: none;
}

a:hover{
    color: blue;
}
 
.organisation{
    background-color: #08111d ;
    display: flex;       
    align-items: center; 
    width: 100%; 
    flex: 1;
    justify-content: space-between;

}

.image-droit {
    float:left ;
    margin-left: 20px;  
}

.liste-horizontale{
    display: flex;
    margin: 5px;
  flex-direction: row;
  justify-content: space-between;
  
}

.rejoindre{
    background-color:blue ;
    color: white; 
    margin-left:0px;
    padding: 10px 25px 10px 25px; 
    border-radius: 8px; 
    border: none;
}
#TextStyle{
    margin-left: 100px;
    
}
.liste-colle{
    display: flex;
    margin: 10px;
  flex-direction: row;
  width: 25px;
}
.liste-personallisee{
    list-style-type:none ;
    padding: 0px;
    padding: 30px;
}
#personalise1{
    list-style-type:"◇";
 } 
 #personalise2{
    list-style-type:"♧"; 
} 
#personalise3{
    list-style-type:"▦"; 
}
#personalise4{
    list-style-type:"▣"; 
}
 ul li::marker{
    color: blue;
    font-size: 40px;
} 
.preCompus{
    background-color: #F4F7FC;
    display: flex;       
    align-items: center; 
    width: 100%;  

    flex: 1;
    justify-content: space-between;
}
#preTxt{
    color: #034BFF ;
     margin: 20px;
}
.boutton{
    margin-left:30px;
    padding: 10px 25px 10px 25px; 
    border-radius: 8px; 
    border: none;
    color: white; 
    background-color: black
}
#présentation > div{
    display:inline-block;
    width: 30%;
}
#textpresentation{
        background-color:#08111D;
        color: #FFFFFF;
        border-radius: 20px;
}
#parcours{
    background-color: #08111D;
    padding: 0px;
    
}
#parcours > div > h1{
    color:#FFFFFF;
    font-size:50px;
    padding: 20px;
}
#parcours > div > p {
    color:#FFFFFF;
    font-size:20px;
    margin: 20px;
}
.cercle{
    width: 60px;
    border-radius: 50%; 
    text-align: center;
    line-height: 100%; /*Centre le texte verticalement*/
    color: white;
    font-size: 20px;
    margin: 20px;
    padding: 10px 
}
.inlineListe  {
    display: inline-block;
}
.persTitre{
     color: white;
     font-size: 40px;
}
.paragraphe-centre {
  height: 50%;
  margin: 10px;
  text-align: center;
}
.textstyle{
    color: white;
}
.inlineListe h2,p{
    color: white;
    margin:0px 5px 0px 5px;
    padding:5px 0px 5px 0px;
}
.verticalcenter{
    vertical-align: middle;
    text-align: center;
    height: 200px;
    
}
.presentation > div:first-child h1{
    background-color:#034BFF ;
}
.presentation > div:nth-child(3) h1{
    background-color:#034BFF ;
}
.presentation > div:nth-child(5) h1{
    background-color:#04B886 ;
}
.presentation > div:nth-child(7) h1{
    background-color:#6744FF;
}
.presentation > div:nth-child(9) h1{
    background-color:#034BFF;
}
.presentation > div:nth-child(11) h1{
    background-color:#C7F64A;
}
.event >div{
    display:inline-block;
    margin: 20px 20px 20px 5px;
}
.event >div:first-child{
    border-radius:20px;
    background-color: #034BFF;
    color:white;
    height: 25%;
}
.event > div:first-child p {
    font-size:20px;
    padding:5px;
    margin: 20px;;
}
.event > div:first-child h1{
    margin:20px;
    font-size:50px;
}
.event >div > button {
    color: #034BFF;
    background-color: white;
    padding: 10px 25px 10px 25px; ;
    margin: 20px;
    border-radius:20px;
    border-color: #034BFF;
}
.event > div >img{
    width: 300px;
}