*{
    margin: 0px;
    padding: 0px;
}
p {color: white;}

a{
    text-decoration: none;
}

a:hover{
    color: blue;
}
 
.organisation{
    background-color: #08111d ;
    display: flex;       
    align-items: center; 
    width: 100%;  
    gap: 20px;
    flex: 1;
    justify-content: space-between;

}

.image-droit {
    float:left ;
    margin-left: 20px;  
}

.liste-horizontale{
    display: flex;
    margin: 5px;
  flex-direction: row;
  justify-content: space-between;
  
}
#rejoindre{
    background-color:blue ;
    color: white; 
    margin-left:0px;
    padding: 10px 25px 10px 25px; 
    border-radius: 8px; 
    border: none;
}
#TextStyle{
    margin-left: 100px;
    
}
.liste-colle{
    display: flex;
    margin: 10px;
  flex-direction: row;
  width: 25px;
}
.liste-personallisee{
    list-style-type:none ;
    padding: 0px;
    padding: 30px;
}
#personalise1{
    list-style-type:"◇";
 } 
 #personalise2{
    list-style-type:"♧"; 
} 
#personalise3{
    list-style-type:"▦"; 
}
#personalise4{
    list-style-type:"▣"; 
}
 ul li::marker{
    color: blue;
    font-size: 40px;
} 
/* .liste-personallisee li:first-child::before{
    content:◇ ;
    color: blue;
    width: 20px;
}
.liste-personallisee li:nth-child(2)::before{
    content:◇ ;
    color: blue;
    width: 20px;
}
.liste-personallisee li:nth-child(3)::before{
    content:◇ ;
    color: blue;
    width: 20px;
}
.liste-personallisee li:nth-child(4)::before{
    content:◇ ;
    color: blue;
    width: 20px;
} */


